<nav>
    <ul>
        <li>
            <a routerLink="/routes/2" routerLinkActive="active">Router</a>
        </li>
        <li>
            <a routerLink="/routes/3" routerLinkActive="active">Router</a>
        </li>
        <li>
            <a routerLink="/routes/4" routerLinkActive="active">Router</a>
        </li>
        <li>
            <a routerLink="/routes/5" routerLinkActive="active">Router</a>
        </li>
    </ul>
</nav>
<p>route id (form snapshot): {{id}}</p>
<p>routeObservable : {{idObservabe}}</p>