:host {
    display: grid;
    grid-template-columns: 1fr 960px 1fr;
    grid-template-rows: 100px 1fr;
}

.header {
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: #25262D;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 60px;
}

.nav {
    font-size: 1.2em;
    text-transform: uppercase;

    ul {
        display: flex;
        margin: 0;
        left: 0;

        li {
            list-style: none;
            margin-left: 30px;
        }
    }

    a {
        color: #fff;
    }
}

.main {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 20px;

}